.main__content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.render__content {
	padding: 10px 0px;
	> h1 {
		font-weight: 600;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0%;
	}
}
.render__content > * {
	animation: slideDownFadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.stepper {
	width: 100%;
}
.content {
	padding: 15px 0px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	animation: slideDownFadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button {
	display: flex;
	padding-top: 10px;
	justify-content: flex-end !important;
	animation: slideDownFadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	> button {
		max-width: 215px;
		max-height: 42px;
	}
}

.date__inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
}

.title {
	font-weight: 800;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
	padding: 5px 0px 25px;
	color: #007c88;
}
.subtitle {
	padding: 10px 0px 30px;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
}

@keyframes slideDownFadeIn {
	from {
		transform: translateY(-30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
