.filter {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: fit-content;
	max-height: 41px;
	height: 100%;
	border-radius: 5px;
	border-width: 1px;
	padding: 10px;
	gap: 5px;
	background-color: #fff;
	border: 1px solid #ebebeb;
}
.item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 29px;
	background-color: #fff;
	border-radius: 5px;
	gap: 10px;
	color: #9d9d9d;
	font-weight: 600;
	padding: 15px;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.item:hover {
	transform: translateY(-2px);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
}
.item[data-selected="true"] {
	max-height: 29;
	border-radius: 5px;
	gap: 10px;
	background: #007c88;
	color: #fff;
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;
	transition: all 0.3s ease-in-out;
}
