.button__container {
	position: relative;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}


.button {
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-radius: 4px;
	padding: 8px 12px;
	background: white !important;
	transition: all 0.3s ease-in-out;
	transform-origin: center;
}

.button:hover {
	background: white !important;
	border-color: rgba(0, 0, 0, 0.3) !important;
	transform: scale(1.05);
}

.button:active {
	transform: scale(0.95);
}

.button:focus {
	outline: none !important;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
}
